@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    background: linear-gradient(90deg, hsla(213, 46%, 48%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
    font-family: 'Roboto', sans-serif;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.cards {
    width: 300px;
    margin: 10px;
    background: linear-gradient(45deg, hsla(213, 46%, 48%, 1) 0%, hsla(203, 15%, 69%, 1) 0%, hsla(209, 36%, 47%, 1) 100%, hsla(205, 31%, 46%, 1) 100%);
    border-radius: 15px;
}

.card-img img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.cardbody h2 {
    text-align: center;
    color: white;
}

p {
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
}

.cardbody {
    display: flex;

    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.content {
    padding: 1rem;
}

.cardbody button {
    width: 150px;
    background-color: #6391b1;
    color: white;
    border-radius: 15px;
    border: 2px solid #92A7CE;
    padding: 6px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.2s;
}

.cardbody button:hover {
    background-color: rgb(51, 49, 49);
    color: white;
    border: 2px solid black;
}


.hide {
    display: none;
}